{% autoescape off %}
Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe de votre compte sur le site de la Communauté de Communes Sud-Avesnois.

Veuillez cliquer sur le lien ci-dessous pour définir un nouveau mot de passe :
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Ce lien n'est valide que pendant 5 minutes pour des raisons de sécurité.

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email.

Cordialement,
L'équipe de la Communauté de Communes Sud-Avesnois
{% endautoescape %}
